<a href="https://colab.research.google.com/github/lavanyagowda1998/Python_Tutorials/blob/master/foundation1python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#print function is used to print the content inside the quotes
#can be in 'single quotes' or "double quotes"
print("hello world")

hello world

In [2]:
print('hello world')

hello world

In [6]:
print(" Iam new to python! ")

 Iam new to python!

In [7]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [8]:
#this is a single comment
print("this is not a comment")

this is not a comment

In [10]:
"""
this is a 
triple quotes for multiple 
line start with triple quotes and end with triple quotes"""
print("this is not a comment either")

this is not a comment either

**Excercise 2**

In [13]:
print("I am Learning python")
# It is possible to write within my code blocks without python

I am Learning python

###VARIABLES

In [17]:
#bind a number 7 to variable "x"
x = 7 #now x is assigned with a number 7

In [19]:
print(x) #printing the value of x contains

7

In [23]:
##variables names start with a lowercase letter or underscore
##can be followed by numbers or underscore
va923 = "lav"
va923

'lav'

In [24]:
_app4r_ = "Biscuit"
_app4r_

'Biscuit'

In [25]:
 f8_9 = "choco"
 f8_9

'choco'

In [27]:
tmp = 'ice'
tmp

'ice'

In [28]:
tmp = ice
tmp
#string should always iclosed with double quotes

NameError: ignored

In [29]:
chalk = "powder"
chalk

'powder'

In [ ]:
###9va23, #app#4r_, f8-9, tm*p; are NOT allowed because it start with number,# symbol,- symbol,tm*p * symbol

In [30]:
f8-9 = 'king'
f8-9

SyntaxError: ignored

In [31]:
f8_9= 'king'
f8_9

'king'

###Let's try making a variable that contains your name then print it !
Excercise : 3
Create a variable as called age and add your age to it

Next print out your age in your notebook !

In [32]:
age = 23
age

23

In [33]:
print(age) # here no need of double or single quotes because we are not printing statement we are printing the variable

23

#Simple Program
input: uses the input command
output: used the print command

In [34]:
name = input("what is your  name?")
print("welcome to python world,",name)

what is your  name?lavanya
welcome to python world, lavanya

#Let's create input function that not only takes the name of the user but also their age and then let's print it
Excercise : 4
Create two inputs with one taking the name and the other taking the age

And then print out Hey <name> I am glad you started learning python at the age of <age>

In [36]:
name = input("what is your name?")
age = input("what is your age?")
print("hey,",name,"glad you started learning python at the age of",age)

what is your name?punya
what is your age?18
hey, punya glad you started learning python at the age of 18

###Data Types
a particular kind of data entity, defined by the values it can take

Python has several built-in data types, some of them are:

numeric data types
text sequence data type
sequence data types
mapping data type
boolean data type
set data type
the type() function is used to check the data type of something in Python

Numeric Data Types
two basic numeric data types
int: integers
float: decimal numbers

In [37]:
x = 7 # 7 is an integer 
type(x)

int

In [38]:
y = 7.5
type(y)

float

#Text Sequence Types
#strings are a text sequence type
#they are a sequence of characters
#they are immutable (unable to be changed.)
#they are ordered

In [39]:
# define a string 
python_string = 'TECH I.S. is awesome!'

# check type 
type(python_string)

str

#Now that we know how to find out the datatype of variables
#Excercise : 5
#What is the datatype of these three variables :

#discount = 43.8
#height = 143
#address = '#301, Pelican Street'

In [40]:
discount = 43.8
type(discount)

float

In [41]:
height = 143
type(height)

int

In [42]:
address = "#301.pelican street"
type(address)

str

##Sequence Types
#there are three kinds of sequence types:
#list: mutable sequence
#tuple: immutable sequence (unable to be changed)
#range: immutable sequence (unable to be changed)
### List

### LISTS
ordered group of comma seperated values in square brackets	o
square brackets are mandatory	
mutable	
once created, content changes can be made	
should be chosen if content is not fixed, and keeps changing	
cannot be used as keys for dictionaries	
are not hashable and immutable

In [45]:
example_for_list = [3,"apple",92,10,"mango"]
example_for_list

[3, 'apple', 92, 10, 'mango']

In [46]:
print(example_for_list)

[3, 'apple', 92, 10, 'mango']

In [47]:
print(len(example_for_list))

5

In [48]:
print(type(example_for_list))

<class 'list'>

In [49]:
type(example_for_list)

list

In [50]:
example_for_list[0]

3

In [51]:
example_for_list[1]

'apple'

In [54]:
example_for_list[2]

92

In [55]:

example_for_list[3]

10

In [56]:
example_for_list[4]

'mango'


### TUPLE
## ordered group of comma seperated values in parenthesis
	immutable
	once created, content cannot be changed
	chosen if content is fixed and never changes
	can be used as keys for dictionaries
	are hashable and immutable

In [58]:
# define a tuple
tuple_example = (5,'11','a',2.86)
print(tuple_example)

(5, '11', 'a', 2.86)

In [59]:


# check length of tuple
print(len(tuple_example))

4

In [60]:

# check type
type(tuple_example)

tuple

# Let's make something using lists!
# Excercise : 6
# Make a list of your favourite colour, food and place and save it in a list called my_favs

In [61]:
my_favs = ["Blue","Idli","Mysore"]

In [62]:
my_favs

['Blue', 'Idli', 'Mysore']

### Range

In [63]:
range_example = range(7)

In [64]:
range_example

range(0, 7)

In [65]:
print(len(range_example))

7

In [66]:
type(range_example)

range

In [67]:
# define range with (start,stop,step)
range_example = range(0,20,2)
print(range_example)

range(0, 20, 2)

In [68]:
print(len(range_example))

10

In [69]:
type(range_example)

range

##Let's get a bit crafty with the range function
Excercise : 7
Using the range function from 4 to 40 and then check the length

In [70]:
r = range(4,40)

In [71]:
print(len(r))

36

##Mapping Types
#dictionary is a mapping data type
#it is mutable
#unordered

In [73]:
# define a dictionary
b = {'one': 1, 'two': 2, 'three': 3} ##key = value
print(b)

{'one': 1, 'two': 2, 'three': 3}

In [74]:
# check type
type(b)

dict

In [75]:
b["one"]

1

##Excercise : 8
#Make a dictionary with students name and their scores !

#Student : Jake Score : 70
#Student : Mako Score : 75
#Student : Alex Score : 78.5

In [77]:
student = {"Jake Score ": 70,"Mako Score" : 75,"Alex Score" : 78.5}
student### alphabet wise recording the rank

{'Alex Score': 78.5, 'Jake Score ': 70, 'Mako Score': 75}

#Boolean Types
#state of truth
### may be True or False

In [80]:
b = True
type(b)

bool

In [81]:
f = False
type(f)

bool

#Set Types
## set is an unordered collection of distinct objects which  are colosed with flower braces

In [82]:
set_of_numbers = {0,9,1,5,7}
print(set_of_numbers)

{0, 1, 5, 7, 9}

In [83]:
names = ['olivia', 'caleb', 'olivia']
names_set = set(names)

In [84]:
names_set

{'caleb', 'olivia'}

In [85]:
unique_names = list(names_set)
print(unique_names)

['caleb', 'olivia']

### Operators
#popular kinds of operators

numeric operators
comparison operators
logical operators
assignment operators
idenity operators
membership operators
bitwise operators
some are discussed below

### Numeric Operators
#used with numeric data types to perform mathematical operations
#+: addition

#-: subtraction
#*: multiplication
#/: division
#//: floor division
#%: modulus (remainder)
#**: raising to power
#abs(): absolute value of number
#round(): rounds a number
#bin(): get binary version of a number
#hex(): get hexadecimal version of a number

In [95]:

# set values of x, y and z for numeric operators exploration
x = 5   # integer value
y = 2.0 # float value
z = -13 # negative integer

#(run this cell to initialize values for the next few cells!)

In [96]:
# sum of x and y
print(x + y)

7.0

In [97]:
# difference of x and y
print(x - y)

3.0

In [98]:
# product of x and y
print(x * y)

10.0